:root {
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    margin: auto;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
    color: #FBF6EE;
    background-color: #2B3844;
    background-attachment: fixed;
}

section {
    text-align: center;
    position: relative;
    padding-bottom: 80px;
}

h1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-size: 60pt;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    user-select: none;
}

h2 {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-size: 36pt;
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    user-select: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.logo {
    width: clamp(150px, 15vw, 600px);
    height: auto;
    margin-right: 20px;
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.contact-btn {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #FBF6EE;
    color: #2B3844;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Quicksand", sans-serif;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.contact-btn:hover {
    background-color: #e0dbd3;
    transform: translateX(-50%) translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-btn:active {
    transform: translateX(-50%) translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contact-btn i {
    font-size: 20px;
}
